<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Dashboard-layout-v11-1.css">
    <link rel="stylesheet" href="assets/css/Dashboard-layout-v11-2.css">
    <link rel="stylesheet" href="assets/css/Dashboard-layout-v11.css">
    <link rel="stylesheet" href="assets/css/dh-card-image-left-dark.css">
    <link rel="stylesheet" href="assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="assets/css/Footer-Clean.css">
    <link rel="stylesheet" href="assets/css/Google-Style-Login.css">
    <link rel="stylesheet" href="assets/css/Navbar-with-menu-and-login.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/Table-With-Search-1.css">
    <link rel="stylesheet" href="assets/css/Table-With-Search.css">
</head>

<body>
    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="" style="background-image:url(&quot;https://vignette.wikia.nocookie.net/the-xmen-roleplay/images/c/c1/Forest-Lake-HD-Desktop-Wallpaper.jpg/revision/latest?cb=20130822192442&quot;);">
            <div class="sidebar-wrapper">
                <div class="logo"><a class="simple-text" href="#">Admin dashboard</a></div>
                <ul class="list-group">
                    <li class="list-group-item"><span>Funcionarios</span></li>
                    <li class="list-group-item"><span>Clientes</span></li>
                    <li class="list-group-item"><span>Vendas</span></li>
                    <li class="list-group-item"><span>Financeiro</span></li>
                    <li class="list-group-item"><span>Estoque</span></li>
                    <li class="list-group-item"><span>Relatórios</span></li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <nav class="navbar navbar-light navbar-expand-md">
                <div class="container-fluid">
                    <div><a class="navbar-brand" href="#"><strong><em>SigLojas</em></strong></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button></div>
                    <div
                        class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav"></ul>
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#">Sair</a></li>
                        </ul>
                </div>
        </div>
        </nav>
        <div class="content"><label><strong>Vendas</strong><br></label>
            <form method="post" th:action="@{/adcionar}">
                <div class="form-row">
                    <div class="col-sm-4">
                        <div class="form-group"><label>ID</label><input class="form-control" type="text"></div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group"><label>Funcionario</label><input class="form-control" type="text" id="nomeInputCliente" name="funcionario"></div><button type="button" data-toggle="modal" data-target="#modalFuncionario">ADD</button>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group"><label>Cliente</label><input class="form-control" type="text" id="nomeInput" name="cliente"></div><button type="button" data-toggle="modal" data-target="#exampleModal">ADD</button>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group"><label>Produto</label><input class="form-control" type="text" name="produto"></div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group"><label>Quantidade</label><input class="form-control" type="text" name="quantidade"></div>
                    </div>
                    <div class="col"><button class="btn btn-danger" style="border: none;width: 151px;height: 40px;background-color: #98e867;margin: 30px;" type="submit">Adicionar</button></div>
                </div>
            </form>
            <div class="col-md-12 search-table-col"><span class="counter pull-right"></span>
                <div class="table-responsive table-bordered table table-hover table-bordered results">
                    <table class="table table-bordered table-hover">
                        <thead class="bill-header cs">
                            <tr>
                                <th id="trs-hd" class="col-lg-1">ID</th>
                                <th id="trs-hd" class="col-lg-2">Descrição</th>
                                <th id="trs-hd" class="col-lg-3">Valor</th>
                                <th id="trs-hd" class="col-lg-2">Quantidade</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="warning no-result">
                                <td colspan="12"><i class="fa fa-warning"></i>&nbsp; No Result !!!</td>
                            </tr>
                            <tr>
                                <td>01</td>
                                <td>Blusa de poa</td>
                                <td>R$30,00</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td><strong>valor:&nbsp;</strong><input type="text"></td>
                                <td><strong>Desconto:&nbsp;</strong><input type="text"></td>
                                <td><strong>Acrescimo:</strong><input type="text"></td>
                                <td><strong>valor:</strong><input type="text"></td>
                                <td><button class="btn btn-danger" style="margin-left: 5px;background-color: rgb(27,181,43);" type="submit"><i class="fa fa-check-circle-o" style="font-size: 15px;"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="exampleModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-hover">
                        <thead class="bill-header cs">
                        <tr>
                            <th id="trs-hd" class="col-lg-1">Código</th>
                            <th id="trs-hd" class="col-lg-2">Data</th>
                            <th id="trs-hd" class="col-lg-3">Cliente</th>
                            <th>Valor</th>
                        </tr>
                        </thead>
                    <tbody>
                    <tr th:each="cliente : ${clientes}">
                        <td th:text="${cliente.id}" id="clienteId"><input th:text="${cliente.id}" name="id" class="invisible"></td>
                        <td th:text="${cliente.cpf}" id="clienteCPF" ></td>
                        <td th:text="${cliente.email}" id="clienteEmail"></td>
                        <td th:text="${cliente.nome}" ></td><input  id="clienteNome" th:value="${cliente.nome}" class="invisible">
                    </tr>
                    </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary close"data-dismiss="modal" aria-label="Close"  id="add" type="button" onclick="addCliente()">ADD</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="modalFuncionario">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-hover">
                        <thead class="bill-header cs">
                        <tr>
                            <th id="trs-hd" class="col-lg-1">Código</th>
                            <th id="trs-hd" class="col-lg-2">Data</th>
                            <th id="trs-hd" class="col-lg-3">Cliente</th>
                            <th>Valor</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="funcionario : ${funcionarios}">
                            <td th:text="${funcionario.id}" id="funcionarioId">
                            <td th:text="${funcionario.cpf}" id="funcionarioCPF" ></td>
                            <td th:text="${funcionario.login}" id="funcionarioEmail"></td>
                            <td th:text="${funcionario.nome}" ></td><input  id="funcionarioNome" th:value="${funcionario.id}" class="invisible">
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button  class="btn btn-primary close"data-dismiss="modal" aria-label="Close"  type="button" onclick="addFuncionario()">ADD</button>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/Dashboard-layout-v11.js"></script>
    <script src="assets/js/Table-With-Search.js"></script>
    <script th:inline="javascript" src="assets/javascript/scripts.js"></script>
</body>

</html>